*{
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: white;
}

.cabeçalho{
  padding: 1% 0 0 1%;
}

.cabeçalho__menu {
  display: flex;
  flex-direction: row;
  gap: 5vh;  
}

.cabeçalho__menu__link {
  font-size: 1rem;
  color: var(--cor-secundaria);
  font-family: "Poppins", serif;
  font-weight: 500;
  text-decoration: none;
  width: 8rem;
  border: 2px solid var(--cor-terciaria);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.cabeçalho__menu__link:hover {
  background-color: #4f45a78c;
}

.tituloDestaque {
    color: var(--cor-terciaria);
}

span{
  color: var(--cor-terciaria);
  font-weight: bold;
}

.eu{
    width: var(--tamanho-img); /*--tamanho-img*/
    height: auto;
    object-fit: cover;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
}

.apresentacao{
  display: flex; 
  align-items: center;
  justify-content:space-between;
  padding: 4% 8%;
}

.apresentacao__conteudo{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.apresentacao__conteudo__titulo{
  font-size: 2.2rem;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  line-height: 40px;
}

.apresentacao__conteudo__subtitulo{
  font-size: 1.5rem;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 35px;
}

.apresentacao__botao{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  gap: 10px;
}

.apresentacao__botao__texto{
  font-family: "Poppins", serif;
  font-weight: 400;
}

.apresentacao__botao__link{
  background-color: #4f45a75b;
  font-family: "Poppins", serif;
  font-weight: 200;
  width: 20vh;
  color: white;
  text-align: center;
  font-size: 1rem;  
  border: 2px solid var(--cor-terciaria);
  border-radius: 10px;
  padding: 2% 0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.apresentacao__botao__link:hover{
  background-color: #4f45a78c;
}

.apresentacao__botao__link__imagem{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
}

.rodapé{
  background-color: #944ed1;
  height: 15%;
  font-family: "Poppins", serif;
  font-size: 1.5rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0 -5% 0;
}

.rodapé p{  
 margin: 0;
}

.rodapé__subtitle{
  margin: 0;
  font-size: 1rem;
  font-weight: 200;
}